html{
    font-size: 62.5%;
}

body{   
    display: flex;
    flex-direction: column; 
    min-height: 100vh;

    background: rgb(255, 255, 255);

    color: rgb(0, 0, 0);
}

nav{
    color: white;
}

.container{
    margin-top: 1%;

    
}

span{
    font-size: 2.5rem;
}

h2{
    margin: 4% 0px;

    font-size: 2.5rem;
}

.container .button{
    background-color: white;
    color: black;

    width: 30%;
    margin-right: 2%;

    font-size: 1.6rem;

    padding: 8px 9px;

    border: 1px solid #2cca4e;
    border-radius: 10px;

    transition: filter .2s;
}

.container .button.not{
    background-color: white;
    border: 1px solid #dc3545;
}


.buttonSend{
    background-color: #FB00C4;
    
    font-size: 2.5rem;
    text-align: center;
    color: white;
    
    padding: 1rem 2.5rem;

    margin-top: 6%;
    margin-bottom: 2%;

    border-radius: 1rem;
}

.buttonSend:hover,
.button:hover{
    cursor: pointer;
    filter: brightness(1.1);
}

.buttonSend:hover{
    color: white;
    text-decoration: none;
}

footer{
    margin-top: auto;

    color: rgb(255, 255, 255);
}

@media (max-width: 770px){
    html{
        font-size: 58%;
    }
    
    span{
        font-size:  1.6rem;
    }

    
    h2{
        font-size: 1.5rem;

        margin: 5.5rem 0px;
    }

    .buttonSend{
        font-size: 1.8rem;

        margin-top: 20%;
    }
}

@media (max-width: 350px){
    html{
        font-size: 40%;
    }

    h2{
        font-size: 1.5rem;

        margin: 5% 0px;
    }

    .buttonSend{
        font-size: 1.5rem;

        margin-top: 20%;
    }
}



